# Node.js
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# React / Build
client/build/
dist/

# VS Code
.vscode/

# PostgreSQL dumps
*.sql

# Mac/Linux swap
*~

# Sequelize migrations cache
server/.sequelize-meta.json
